{% load static %}
{% load formata %}

<div class="row">
    <div class="col s12">
        <div class="row" id='compromissos'>
            <span class="d-flex justify-content-start mb-3">
                <img src="{% static 'img/icone_barra/time.png' %}" alt="">
                <h6 class='ml-1 bold teal-text text-darken-3'><a class='a_href teal-text' href="{% url 'pagamentos' 0 %}" > PAGAMENTOS DO DIA </a></h6>
            </span>
            <table>
                {% for linha in fornecedor %}
                    <tr class='size90'>
                        <td style='max-width: 8rem; min-width: 8rem;'>{{linha.produto }}</td>
                        <td style='max-width: 4rem; min-width: 4rem;'>R$ {{linha.valor_total | real_br_money_mask }}</td>
                        <td><a title='Detalhes'href="{% url 'pagamentos_fornecedor' 0 0 %}"><i class='fas fa-info fa-lg teal-text mr-1 ml-1'></i></a></td>
                        <td><a title='Alterar'href="{% url 'pagamentos_fornecedor.editar' linha.id  %}"><i class='fas fa-edit fa-lg teal-text mr-1'></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            <table>
                {% for linha in custos_fixos %}
                    <tr class='size90'>
                        <td style='max-width: 8rem; min-width: 8rem;'>{{linha.nome | upper }}</td>
                        <td style='max-width: 4rem; min-width: 4rem;'>R$ {{linha.custo | real_br_money_mask}}</td>
                        <td><a title='Detalhes'href="{% url 'custos_fixos'  %}"><i class='fas fa-info fa-lg teal-text mr-1 ml-1'></i></a></td>
                        <td><a title='Alterar'href="{% url 'custos_fixos.editar' linha.id  %}"><i class='fas fa-edit fa-lg teal-text mr-1'></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            <span class="bold teal-text text-darken-2 mt-2 d-flex justify-content-end">R$ {{ total }}</span>
        </div>
    </div>
</div>
